.count-down-outer{
    background-color: aqua;
    border: 5px solid blue;
    padding: 5px;
}

.count-down-inner{
    display: flex;
    justify-content: center;
    border: 3px solid blue;
}

.warning{
    color: red;
}